@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');
:root{
    --primary : #fe2c55;
    --white :#ffffff;
    --black: #000000;
    --text-color:#292828;

    --background-color-hover : rgba(22, 24, 35, .03);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.body{
    margin: 0 auto;
    width: 1150px;
}

button{
    cursor: pointer;
}

input,button{
    outline: none;
    border: none;
    background-color: transparent;

}

a[href]{
    text-decoration: none;
    color: black;
}
