.body{
    margin: 60px auto 0 auto;
    width: var(--width-user-page);
    display: flex;
    // justify-content: space-between;
}

.container{
    width: 1328px;
    padding: 32px 24px;
    height: auto;
}