


// QR CODE
.content-qrcode{
    margin-top: 20px;
    display: flex;
}

.QR-code,
.image-tip{
    width: 50%;

    & img{
        width: 100%;
    }
}

.QR-code{
    display: flex;
    flex-direction: column;
}

.intrucstion{
    text-align: left;
    font-size: 1.4rem;
}


// LOGIN FORM
.wrapper {
    width: 100%;
    height: auto;
}

.form{
   width: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column; 
}

.container{
    text-align: left;
}

.title{
    font-size: 1.4rem;
    font-weight: 600;
}

.account,
.password{
    margin-bottom: 10px;

    & input{
        width: 100%;
        border: 1px solid #ccc;
        font-size: 1.6rem;
        padding: 10px;
        border-radius: 2px;
        background-color: rgba(0,0,0,0.03);

    }
}

.password{
    position: relative;
}

.showhide{
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-30%);
    cursor: pointer;
}

.link{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
    &:hover{
        text-decoration: underline;
    }
}

.submit{
    margin-top: 16px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

 
}

.btn-submit{
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.8rem;
    color: var(--white);
    padding: 10px 0;
    background-color: var(--primary);

    &:hover{
        background-color:rgb(239,41,80)
        ;
    }
}

