.wrapper{
    position: fixed;
    inset: 0;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
}

.content{
    width: 120px;
    height: 200px;

}



@keyframes ldio-ol68y82xof9-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(20px,0) }
   50%    { opacity: 0; transform: translate(20px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-ol68y82xof9 {
    0% { transform: translate(0,0) }
   50% { transform: translate(20px,0) }
  100% { transform: translate(0,0) }
}
.ldio-ol68y82xof9 div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 40px;
  left: 50%;
}
.ldio-ol68y82xof9 div:nth-child(1) {
  background: #e90c59;
  animation: ldio-ol68y82xof9 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-ol68y82xof9 div:nth-child(2) {
  background: #46dff0;
  animation: ldio-ol68y82xof9 1s linear infinite;
  animation-delay: 0s;
}
.ldio-ol68y82xof9 div:nth-child(3) {
  background: #e90c59;
  animation: ldio-ol68y82xof9-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-lwjvw2p7xft {
  width: 100%;
  height: 76px;
  display: inline-block;
  overflow: hidden;
background-color: transparent;

}
.ldio-ol68y82xof9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ol68y82xof9 div { box-sizing: content-box; }
