.sidebar{
    width: 356px;
}

.line-top{
    &::after{
        position: absolute;
        content: '';
        width: 80%;
        height : 1px;
        z-index: 1;
        background: rgba(22, 24, 35, .12);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.side-container{
    width: 356px;
   
}

.abc{
    overflow: hidden auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 62px;
    bottom: 0px;
    width: 240px;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 98;
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(22, 24, 35, .06);;
    }

}
.wrapper{
  
    flex-shrink: 0;
    padding: 20px 0 26px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100%;
    padding-left: 8px;

  
}

.log-in{
    width: 100%;
    padding: 16px 10px;
    position: relative;
}

.title{
    color: rgba(22, 24, 35, .5);
    font-size: 1.6rem;
    line-height: 22px;
}

.user-suggest-container{
    width: 100%;
    padding: 16px 0;
    position: relative;

   
}


.btn{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 14px;
    color: rgb(254, 44, 85);
}


.following-account{
    position: relative;
    width: 100%;
    padding: 16px 0;
}

.des-following{
    font-size: 1.2rem;
    padding: 8px;
    color:  black;
}

// discover
.discover-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 16px 0;
}

.discover-item{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 8px;
    color: rgba(22, 24, 35, 0.75);
    transition: 0.4s;
    &:hover{
        background-color: var(--background-color-hover);
    }

    & span{
        margin-left: 4px;
        display:-webkit-box;
        -webkit-line-clamp:1; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    & i {
        display: flex;
    }
}

.footer{
    position: relative;
    width: 100%;
    padding: 6px 0;
}

.footer-link{
    font-size: 1.2rem;
    color: rgba(22, 24, 35, .5);
    margin-right: 8px;
    font-weight: 600;
    &:hover{
        text-decoration: underline;
    }
}