.sidebar{
    width: 356px;
}

.line-top{
    &::after{
        position: absolute;
        content: '';
        width: 80%;
        height : 1px;
        z-index: 1;
        background: rgba(22, 24, 35, .12);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.side-container{
    width: 356px;
   
}

.wrapper{
    width: 356px;
    padding: 20px 0 26px;
    position: fixed;
    overflow-y: scroll;
    top: 60px;
    bottom: 0;
    z-index: 99;
}

.user-suggest-container{
    width: 100%;
    padding: 16px 0;
    position: relative;

   
}


.btn{
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 14px;
    color: rgb(254, 44, 85);
}


.following-account{
    position: relative;
    width: 100%;
    padding: 16px 0;
}

.des-following{
    font-size: 1.2rem;
    padding: 8px;
    color:  black;
}

// discover
.discover-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.discover-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 6px;
    color: rgba(22, 24, 35, 0.75);
    transition: 0.4s;
    &:hover{
        background-color: var(--background-color-hover);
    }

    & span{
        margin-left: 4px;
        display:-webkit-box;
        -webkit-line-clamp:1; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    & i {
        display: flex;
    }
}